<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                                    aria-describedby="basic-addon1" name="nombre" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Correo" aria-label="Username"
                                    aria-describedby="basic-addon1" name="correo" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Cedula" aria-label="Username"
                                    aria-describedby="basic-addon1" name="cedula" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Dirección" aria-label="Username"
                                    aria-describedby="basic-addon1" name="dir" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Celular" aria-label="Username"
                                    aria-describedby="basic-addon1" name="cel" required>
                            </div>
                            <select class="form-select" aria-label="Default select example" name="rol" required>
                                <option selected>Seleccion el rol</option>
                                <option value="Coordinador">Coordinador</option>
                                <option value="Jefe de area">Jefe de area</option>
                                <option value="Impulsador">Impulsador</option>
                                <option value="Vendedor">Vendedor</option>
                            </select>
                            <hr>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Enviar
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>