<a type="button" class="btn btn-success btn-block p-2 m-4" href="/links/add" style="width: 150px;">
    Añadir Empleado</a>
    <table class="table">
        <thead class="table-dark">
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Cedula</th>
            <th>Direccion</th>
            <th>Rol</th>
        </thead>
        <tbody>

        </tbody>
    </table>